.cvHeading-container {
  color: #092347;
  padding-bottom: 2rem;
}
.cvHeading-container h3 {
  font-size: 1.8rem;
}
.instructions {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  font-size: 0.8rem;
}
#contactForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}
.form-group label {
  font-weight: bolder;
  display: block;
}
.form-group .input-container {
  height: 2.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.form-group input {
  outline: none;
  border: none;
  padding: 0.2rem;
  font-size: 1rem;
  height: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  border: 1px solid gray;
  border-radius: 0.4rem;
}
.form-group input:focus {
  border: 2px solid #026a73;
}
.form-group span {
  display: inline;
  display: none;
}
.countryNcode {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.countryNcode > div {
  width: 45%;
}
.countryNcode label + .input-container input {
  width: 100%;
}
