aside {
  background-color: #092347;
  color: white;
  padding: 0 2rem;
  position: sticky;
  height: 100vh;
  top: 0;
  left: 0;
}
aside ul {
  list-style: none;
}

ul li {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}

ul li:not(:last-child) > .index::after {
  position: absolute;
  display: inline-block;
  font-size: 0.6rem;
  content: "----";
  white-space: nowrap;
  color: white;
  transform: translate(0.1rem, 1.3rem) rotate(90deg);
}

.index {
  border: 2px solid white;
  font-size: 0.9rem;
  font-weight: bolder;
  color: white;
  border-radius: 50%;
  height: 1.6rem;
  width: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.index.active {
  border: 3px solid #cd911a;
  background-color: #efc778;
  color: #092347;
}
.cv-completeness {
  margin: 2rem 0;
  font-size: 0.8rem;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
footer {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
footer a {
  font-size: 0.7rem;
  color: #efba60;
  transition: 0.2s;
}
footer a:hover {
  text-decoration: underline;
  color: yellow;
}
footer div {
  margin-top: 2rem;
  font-size: 0.7rem;
}
